@import '../../../scss/variables.scss';
@import '../../../scss/typography.scss';

.category-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $secondary;
  padding: 3rem;
}

.category-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
  @media (max-width: 450px) {
    flex-direction: column;
    width: 80vw;
    align-items: center;

  }
}

.category-section__img-container {
  flex: 28%;
  max-width: 28%;
  padding: 0 4px;
  @media (max-width: 450px) {
    max-width: 90%;
    margin-bottom: 1rem;
  }

}

.category-section__img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.category-section__img:hover {
  opacity: .8;
}