@import '../../../scss/variables.scss';
@import '../../../scss/typography.scss';

.category-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $offWhite;
  padding: 5rem;
  color: $secondaryDark;
}

.category-section {
  display: flex;
  justify-content: center;
  padding: 0 4px;
  @media (max-width: 768px) {
    flex-direction: column;
    //width: 80vw;
    align-items: center;

  }
}

.category-section__img-container {
  //flex: 28%;
  //max-width: 28%;
  padding: 0 4px;
  @media (max-width: 768px) {
    max-width: 90%;
    margin-bottom: 1rem;
  }

}

.category-section__img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

//.category-section__img:hover {
//  opacity: .8;
//}

.img-hover-zoom {
  min-height: 331px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.3);
}