@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/tags";

.watches-list-wrapper {
  color: $primary;
}

// filter sidebar column
.filter {
  color: $primary;
  border-right: 1px solid $lightGray;
  width: 230px;
  padding: 1rem;
  background-color: $white;
  transition: all ease-in-out 350ms;
  transform: translateX(-100%);

  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
}
.filter__sub-section {
  margin-top: 1rem;
}
.filter__subsection-title {
  margin-left: -0.5rem;
  text-transform: uppercase;
}

.filter-item {
  @include flex-space-between;
  font-family: $sans-serif;
  padding-left: 10px;
  cursor: pointer;
}
.filter-item:hover{
  background: $secondaryDark;
}

  // filter toggle button
.show-filter {
  transform: translateX(0);
}

.filter-toggle {
  border: 1px solid $secondaryDark;
  padding: 1rem 0;
  text-align: center;
  font-weight: 900;
  margin: 0 auto;
  width: 100%;
  cursor: pointer;
  margin-bottom: 1rem;
}

.filter-toggle > .fas {
  color: $secondaryDark;
  margin-right: 5px;
}

// pages-count-container

.pages-count-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  @media (max-width: 770px) {
    justify-content: center;
  }
}

.pages-count-container__buttons > button {
  border: 1px solid $secondaryDark;
  padding: 10px;
  margin-right: 5px;
  font-size: 0.8rem;
}

.pages-count-container__text {
  font-size: 1.1rem;
}

// sorting-container

.sorting-container {
  @include flex-space-between;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  @media (max-width: 770px) {
    flex-direction: column;
  }
}

// watches list

.watches-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 400px;
  grid-gap: 1rem;
  @media (max-width: 870px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 770px) {
    grid-template-columns: 1fr;
  }
}

.watches-list__item {
  position: relative;
  //height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view-details-btn {
  background-color: $primary;
  color: $secondaryDark;
  width: 90%;
  text-align: center;
  padding: 1rem 2rem;
  transition: all ease-in-out 350ms;
}
.view-details-btn:hover {
  background-color: $secondaryDark;
  color: $primary;
  width: 90%;
  text-align: center;
  padding: 1rem 2rem;
}
.overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  background: rgba($secondaryDark, 0.4); /* Black see-through */
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  @include flex-center;
}

.watches-list__item:hover .overlay {
  opacity: 1;
}
.watches-list__img-container {
  //max-height: 260px;
  width: 100%;
  text-align: center;
}
.watches-list__img {
  height: 260px;
}
.watches-list__brand {
  font-family: $serif;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.3rem;
}
.watches-list__model {
  font-weight: 500;
  font-size: 1.2rem;
}
.watches-list__model-price--before {
  color: $primary;
  margin-right: 1rem;
}
.watches-list__model-price--after {
  text-decoration: line-through;
}

// pagination

// dummy watches header
.dummy-watches-header,
.dynamic-watches-header{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  text-align: center;
  font-size: .8rem;
}
.dummy-watches-header h1,
.dynamic-watches-header{
  color: $primary;
}
.dummy-watches-header h1 span{
  color: $primaryLight;
}
.dummy-watches-header p{
  font-weight: bold;
}
.dynamic-watches-header{
  background: $secondaryLight;
  color: $secondaryDark;
  padding: 1rem 0;
}
@media (min-width: 1024px) {
  .filter-toggle{
    display: none;
  }
  .watches-info-container{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: min-content min-content auto;

  }
  .filter{
   grid-column: 1;
    grid-row: 3/-1;
    transform: translateX(0);
    position: relative;
  }

  .dummy-watches-header{
    grid-row: 1;
    grid-column: 1/3;
  }
  .watches-list-wrapper{
      grid-column: 2;
      grid-row: 3;
    }
  .dynamic-watches-header{
    grid-column: 1/3;
    grid-row: 2;
  }
}