@import './variables';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: inherit;
}

body {
  line-height: 1.6;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  // padding: 250px;
  color: $light-gray;
  font-family: $serif;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $light-gray;
}

input[type='text'] {
  padding: .5rem 1rem;
}

.container{
  max-width: 1170px;
}