@import "./variables";
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;

  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  color: $primary;
  overflow: hidden;
  border-radius: .25em;
  border: 1px solid $primary;
}
select {
  font-size: 1.1rem;
  flex: 1;
  padding: 0 .5em;
  color: $primary;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: $secondaryDark;
}


// link
.link{
  color: $primaryLight;
}
.link:hover{
  text-decoration: underline;
}

// buttons

.btn{
  padding: .5rem 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  transition: all ease-in-out 350ms;
}
.btn + .btn{
  margin-left: .5rem;
}
.btn-outline{
  border: 1px solid $lightGray;
  color: $primary;
}
.btn-outline:hover{
  border: 1px solid $primaryLight;
  color: $white;
  background-color: $primaryLight;
}

.btn-secondary{
  background-color: $primaryLight;
  color: $white;
}
.btn-secondary:hover{
  background-color: $secondaryDark;
  color: $primary;
}
.btn-icon{
  padding: 0;
  font-size: 1.7rem;
}
// social media
.facebook{
  color: #3b5998;
}
.twitter{
  color: #1da1f2;
}
.pinterest{
  color: #bd081c;
}
.mail-envelop{
  color:#FFFFFF;
  background: #DB534B;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
}